<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.8, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>
  <appSettings>
    <!--<add key="CollateralServiceApiLogin" value="alfa\dkrasyuk" />
    <add key="CollateralServiceApiPassword" value="test" />-->
    <add key="CollateralServiceApiEndpoint" value="https://coll-uat2.ac-dev.alfa.bank.int/" />
    <add key="PathCollaterals" value="c:\Collaterals.csv" />
    <add key="GoogleApiKey" value="AIzaSyCANe6CSlhDBXvWU9khniDgEgYhSHHT62Q" />
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\Logs\GoogleCodeApp\ErrorLog.log" />
      <param name="AppendToFile" value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d  %-5p %m%n" />
      </layout>
    </appender>
    <logger name="LOGGER">
      <appender-ref ref="LogFileAppender" />
    </logger>
  </log4net>  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.0" newVersion="3.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="collectsm_test.world" descriptor="(DESCRIPTION_LIST = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = kacolldbu01.alfa.bank.int)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = COLLECTSM_U2.center.kiev.ua.alfabank)(FAILOVER_MODE = (TYPE = session) (METHOD = BASIC) (RETRIES = 3) (DELAY = 0)))))" />
        <dataSource alias="collectsm_dev.world" descriptor="(DESCRIPTION_LIST = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = kacolldbd01.alfa.bank.int)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = COLLECT_A.center.kiev.ua.alfabank)(FAILOVER_MODE = (TYPE = session) (METHOD = BASIC) (RETRIES = 3) (DELAY = 0)))))" />
        <dataSource alias="collectsm_r.world" descriptor="(DESCRIPTION_LIST = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = kacolldbu02.alfa.bank.int)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = COLLECTSM_R.center.kiev.ua.alfabank)(FAILOVER_MODE = (TYPE = session) (METHOD = BASIC) (RETRIES = 3) (DELAY = 0)))))" />
        <dataSource alias="collectsm_p.world" descriptor="(DESCRIPTION_LIST = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = dacolldbu01.alfa.bank.int)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = COLLECTSM_P.kiev.ua.alfabank)(FAILOVER_MODE = (TYPE = session)(METHOD = BASIC)(RETRIES = 3)(DELAY = 0)))))" />
        <dataSource alias="collectsm.world" descriptor="(DESCRIPTION_LIST = (DESCRIPTION = (TRANSPORT_CONNECT_TIMEOUT = 2) (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = kacolldbp01.alfa.bank.int)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = COLLECTSMDB.center.kiev.ua.alfabank) (FAILOVER_MODE = (TYPE = session)(METHOD = BASIC)(RETRIES = 1)(DELAY = 0)))) (DESCRIPTION = (TRANSPORT_CONNECT_TIMEOUT = 2) (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = dacolldbb01.alfa.bank.int)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = COLLECTSMDB.kiev.ua.alfabank) (FAILOVER_MODE = (TYPE = session)(METHOD = BASIC)(RETRIES = 1)(DELAY = 0)))))" />
        <dataSource alias="localhost" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=workflow)))" />
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <add name="CollectSmContext" connectionString="DATA SOURCE=collectsm_r.world;PASSWORD=Dzk#7$Gp;USER ID=COLLECTSM;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="CollateralContext" connectionString="DATA SOURCE=collectsm_r.world;PASSWORD=CollateralService2!;USER ID=COLLATERALSERVICE;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
</configuration>